*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #666;
}
/*
.SectionHeading
{
    background: #FFFFFF;
    font-weight: bold;
    width: 100%;
    color: #000;
    padding: 15px;
}
.DivField
{
    color: #666;
    background-color: #FFFFFF;
    float: left;
    text-align: right;
    width: 25%;
    padding-right: 1%;
}
.DivFieldLabel
{
    font-weight: bold;
    color: #666;
    background-color: #EEEEEE;
    float: left;
    text-align: right;
    width: 20%;
    padding-right: 1%;
    padding: 10px 5px 10px 5px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}
.DivFieldValue
{
    float: left;
    background-color: #FFFFFF;
    width: 30%;
    padding-left: 1%;
    padding: 10px 5px 10px 5px;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
}
.TableHeader
{
    background-color: #EEEEEE;
    text-align: center;
    float: left;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
}
.TableValue
{
    background-color: #FFFFFF;
    border: thin;
    float: left;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px 10px 5px;
}
.ODD11
{
    background: #EDEDCC;
}
.EVEN11
{
    background: #EDEDFF;
}
.clear
{
    height: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
    clear: both;
}
#wrapper
{
}
.thead
{
    display: table-header-group;
}
.tfoot
{
    display: table-footer-group;
}*/
.MasterBanner
{
    display: none;
}
.container
{
    /*width: 100%;*/
    width: 1200px;
    margin: auto;
}
