<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="email" value="ceo@teamartha.com"/>
    <add key="appid" value="1"/>
    <add key="SearchPageSize" value="10"/>
    <add key="SiteUrl" value="http://geecy.ndtreports.net"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="NDTReportingConString" connectionString="Data Source=KRITZ\SQL2008;Initial Catalog=Artha_Prod;user id=sa;password=pass123$" providerName="System.Data.SqlClient"/>-->
    <add name="NDTConnectionString" connectionString="Data Source=ndtreports.net\MSSQLSERVER2008;Initial Catalog=artha;Integrated Security=false;user id=iartha;password=@12T#@" providerName="System.Data.SqlClient"/>
    <!--<add name="NDTConnectionString" connectionString="Data Source=teamartha.db.12064788.hostedresource.com;Initial Catalog=teamartha;Integrated Security=false;user id=teamartha;password=Nd7R3p0r7s@123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="NDTConnectionString" connectionString="Data Source=Mssql.teamartha.com;Initial Catalog=artha;Integrated Security=false;user id=Teamarth_Vikram;password=M1V1kr@m" providerName="System.Data.SqlClient"/>-->
    <!--<add name="NDTReportingConString" connectionString="Data Source=KRITZ\SQL2008;Initial Catalog=Artha_Prod;user id=sa;password=pass123$" providerName="System.Data.SqlClient"/>-->
    <!--<add name="NDTReportingConString" connectionString="Data Source=VIKRAM;Initial Catalog=NDT_POC;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--<location path="MagneticParticleTestReportViewer.aspx">
    <system.web>
      <trust level="Full"/>
      <securityPolicy>
        <trustLevel name="Full" policyFile="internal"/>
      </securityPolicy>
      <machineKey validationKey="45097335776E6C9A32C0F9B5DAF68FB1A6107E1C76A9D1791FD1730BC739F816E2651DB5C03DE627FC61265623AB5913806BE3B5BC45581CBBC9C27A2AEFBDAD" decryptionKey="4C6D3DB8F92942654B9568B78576C4E4CD20F69A3058266042ADECAD6241B011" validation="SHA1" decryption="AES"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off"/>
    <!--defaultRedirect="GenericErrorPage.htm">
      -->
    <!--<error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />-->
    <!--
    </customErrors>-->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
</configuration>